<div class="wrapper">
  <div class="page-img">
    <div class="page-fixed">
          <div class="rte">
            {{ page.content }}
            {% section 'create-ownaj' %}
          </div>
    </div>
  </div>
   <div class="mobile-img large--hide medium--hide">
    <img src="{{ 'partner-mob1.png' | asset_url}}"> 
  </div>
</div>